<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3 py-2">
                <fa-icon class="color-red ml-1 mr-2" [icon]="['fas', 'graduation-cap']"></fa-icon>Education Experience
            </h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <p class="mb-0">Digital Games - FIAP</p>
            <p class="color-red mb-2">
                <fa-icon class="mr-2" [icon]="['fas', 'calendar-alt']"></fa-icon> 2015 - 2016
            </p>
            <p class="ml-3 mb-2 details">At FIAP I learned the whole process of creating games, gamification, augmented reality, virtual reality, artificial intelligence for games, storyboard, storytelling, mobile development and digital marketing. I participated in two projects that were in Exhibition at the FIAP-NEXT event, they being Maker Lab and Primmer.</p>
            <p class="ml-3 mb-2 details">Third place in the fiap-next event with the project Let Me Out. A 3D navigable horror-themed environment.</p>
            <p class="ml-3 mb-2 details">Maker lab - A realistic navigable environment of the fiap maker lab for virtual reality.</p>
            <p class="ml-3 mb-2 details">Primmer - An adventure in the depths of the ocean. You must pedal a real bike to complete the challenge of studying the secrets of the ocean. The bike and the computer were synchronized using an arduino.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="mb-0">Science Computer - FEI</p>
            <p class="color-red mb-2">
                <fa-icon class="mr-2" [icon]="['fas', 'calendar-alt']"></fa-icon> 2013 - Dec 2014(Incomplete degree).
            </p>
            <p class="ml-3 details">At FEI I learned the basics about programming using primitive languages and some more current ones.</p>
        </div>
    </div>
</div>