<div class="container">
    <div class="row">
        <div class="col-12 img-photo"></div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="mb-3 py-2">
                <fa-icon class="color-red ml-1 mr-2" [icon]="['fas', 'address-card']"></fa-icon>Personal
            </h2>

            <p>
                <fa-icon class="icon-size color-red ml-1 mr-2" [icon]="['fas', 'user']"></fa-icon>Guilherme Batista Moreira
            </p>
            <p>
                <fa-icon class="icon-size color-red ml-1 mr-2" [icon]="['fas', 'briefcase']"></fa-icon>System Analyst/Developer
            </p>
            <p>
                <fa-icon class="icon-size color-red ml-1 mr-2" [icon]="['fas', 'home']"></fa-icon>São Paulo, Brazil
            </p>
            <p>
                <fa-icon class="icon-size color-red ml-1 mr-2" [icon]="['fas', 'envelope']"></fa-icon>gui.bm.1995@gmail.com
            </p>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12">
            <h2 class="mb-3 py-2">
                <fa-icon class="color-red ml-1 mr-2" [icon]="['fas', 'book']"></fa-icon>Skills
            </h2>

            <p class="mb-1">Angular 8+</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><p class="m-0">85%</p></div>
            </div>

            <p class="mb-1">Typescript</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><p class="m-0">85%</p></div>
            </div>

            <p class="mb-1">Unity 3D</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><p class="m-0">70%</p></div>
            </div>

            <p class="mb-1">ASP.NET Core 3.1</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><p class="m-0">60%</p></div>
            </div>

            <p class="mb-1">Flutter</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><p class="m-0">60%</p></div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-12">
            <h2 class="mb-3 py-2">
                <fa-icon class="color-red ml-1 mr-2" [icon]="['fas', 'globe-americas']"></fa-icon>Languages
            </h2>

            <p class="mb-1">Portuguese</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"><p class="m-0">Native</p></div>
            </div>

            <p class="mb-1">English</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><p class="m-0">50%</p></div>
            </div>

            <p class="mb-1">Spanish</p>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><p class="m-0">35%</p></div>
            </div>
        </div>
    </div>
</div>