<div class="container-fluid mt-5">
    <section class="row mt-5">
        <div class="col-12">
            <app-experiences [experiences]="person.experiences"></app-experiences>
        </div>
    </section>

    <section class="row mt-5">
        <div class="col-12">
            <app-educations [educations]="person.education"></app-educations>
        </div>
    </section>

    <section class="row mt-5">
        <div class="col-12">
            <app-skills [skills]="person.skills"></app-skills>
        </div>
    </section>
</div>