<div class="container-fluid mt-5">
    <section class="row mt-5">
        <div class="col-12">
            <app-experiences [experiences]="person.experiences"></app-experiences>
        </div>
    </section>

    <section class="row mt-5">
        <div class="col-12">
            <app-educations [educations]="person.education"></app-educations>
        </div>
    </section>

    <section class="row mt-5">
        <div class="col-12" *ngIf="!isPdf; else pdf">
            <app-skills [skills]="person.skills"></app-skills>
        </div>
        <ng-template #pdf>
            <div class="col-12">
                <app-skills-for-pdf [skills]="person.skills"></app-skills-for-pdf>
            </div>
        </ng-template>
    </section>
</div>