.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100vh - 64px);
    overflow: hidden;
}

.w-custom {
    max-width: 1080px;
    width: 100%;
}