<div class="container py-5">
    <section class="row">
        <div class="col-12 d-flex justify-content-center">
            <app-portrait [image]="person.photo"></app-portrait>
        </div>
    </section>

    <section class="row mt-3">
        <div class="col-12 text-center">
            <h1>{{person.name}}</h1>
            <h5>{{person.role}} since {{since | date: 'yyyy'}}</h5>
            <p class="mt-4">{{person.aboutMe}}</p>
        </div>
    </section>

    <section class="row mt-3">
        <div class="col-12 d-flex justify-content-center text-center">
            <app-socials [socials]="person.socials"></app-socials>
        </div>
    </section>

    <div class="row mt-3">
        <div class="col-12">
            <mat-tab-group mat-align-tabs="center" class="main-color">
                <mat-tab label="Projects">
                    <app-projects [projects]="person.projects"></app-projects>
                </mat-tab>
                <mat-tab label="Resume">
                    <app-resume [person]="person"></app-resume>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>