<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3 py-2">
                <fa-icon class="color-red ml-1 mr-2" [icon]="['fas', 'briefcase']"></fa-icon>Work Experience
            </h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <p class="mb-0">Jr. Analyst System - Datamotion</p>
            <p class="color-red mb-2">
                <fa-icon class="mr-2" [icon]="['fas', 'calendar-alt']"></fa-icon> Feb 2018 - Current
            </p>
            <p class="ml-3 details">Working in some website projects for third customers, customer relationship management websites and internal softwares to improve the workflow of email marketing team. Participating in the entire life cycle of the project, from conception, functional/non-functional requirements gathering, prototyping, minimum viable product, construction and implantation.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="mb-0">Internship Program Accesses School - FUNDAP/Mathias Otávio R. Nobre State School</p>
            <p class="color-red mb-2">
                <fa-icon class="mr-2" [icon]="['fas', 'calendar-alt']"></fa-icon> Dec 2011 - Dec 2012
            </p>
            <p class="ml-3 details">The program accesses school aims to train high school students for the job market, some of the functions in the internship: Coordinating didactics with teachers, managing computers as an administrator, performing basic room maintenance and computer maintenance.</p>
        </div>
    </div>
</div>