<div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4">
            <div class="bg-light shadow-sm grey-square">
                <app-personal-stats></app-personal-stats>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mb-3 px-0">
                        <div class="bg-light shadow-sm grey-square">
                            <app-work-stats></app-work-stats>
                        </div>
                    </div>
                    <div class="col-12 px-0">
                        <div class="bg-light shadow-sm grey-square" style="height: 40vh;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>