@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/progress";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "themes";
@import "~normalize.css";

:host {
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    src: url('assets/fonts/Pacifico/Pacifico-Regular.ttf');
    font-family: Pacifico;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Pacifico', Candara, Roboto, "Helvetica Neue", sans-serif !important;
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

* {
    &:active,
    :focus {
        outline: none !important;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    // background: #2d2d2d;
    // background: white;
}

.container {
    overflow: hidden;
}

.wrapper {
    min-height: calc(100vh - 64px); // 100% page height - (header height + footer height);
}

.simpleShadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.cursor {
    cursor: pointer;
}
