/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $medium;
  color: $grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: $dark;
  font-weight: bold;
}

p {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b4b4;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #b4b4b4;
  }
}

.mat-tab-header {
  border-bottom: 0;
}