<footer>
    <mat-toolbar>
        <div class="d-block w-100">
            <span >Made with <fa-icon class="mx-1 brown" [icon]="['fas', 'coffee']"></fa-icon> and <fa-icon class="mx-1 red" [icon]="['fas', 'heart']"></fa-icon></span>
            <a href="https://github.com/TaiyouFTW" target="_blank" class="text-white float-right cursor pr-3"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
            <a href="https://www.linkedin.com/in/guilherme-bm/" target="_blank" class="text-white float-right cursor pr-3"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
        </div>
    </mat-toolbar>
</footer>