<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3 py-2">
                <fa-icon class="color-red ml-1 mr-2" [icon]="['fas', 'desktop']"></fa-icon>Technologies and Skills
            </h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <p class="mb-0">Intermediate</p>
            <ul>
                <li class="details">Angular 8+</li>
                <li class="details">Typescript</li>
                <li class="details">C#</li>
                <li class="details">Unity 3D</li>
                <li class="details">HTML</li>
                <li class="details">CSS</li>
                <li class="details">SCSS</li>
                <li class="details">Javascript</li>
                <li class="details">ASP.NET Core 3.1</li>
                <li class="details">GIT</li>
            </ul>
        </div>

        <div class="col-12 col-lg-6">
            <p class="mb-0">Basic</p>
            <ul>
                <li class="details">Flutter</li>
                <li class="details">Dart</li>
                <li class="details">GitFlow</li>
                <li class="details">Electron</li>
                <li class="details">Swift</li>
                <li class="details">Java</li>
                <li class="details">Autodesk Maya</li>
                <li class="details">Unreal Engine 4</li>
                <li class="details">Python</li>
                <li class="details">Photoshop</li>
            </ul>
        </div>
    </div>
</div>